@import "./styles/fonts.scss";
@import "./styles/spacing.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: $padding;
}

.title {
  font-family: $primary_font;
  font-size: 3rem;
  font-weight: 700;
}
