@import "../../styles/spacing.scss";
@import "../../styles/fonts.scss";

.form {
  height: 40px;
  margin: $padding;
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 6px;
}

.input {
  height: 100%;
  padding: 12px 20px;
  border-radius: 6px 0 0 6px;
  font-size: 1rem;
  border-width: 1px;
  text-align: center;
  outline: transparent;
  border: none;
  width: 100%;
  font-family: $secondary_font;
}

.addButton {
  height: 100%;
  padding: 6px;
  border-radius: 0 6px 6px 0;
  font-size: 1rem;
  text-align: center;
  outline: transparent;
  width: 20%;
  font-family: $secondary_font;
  cursor: pointer;
  border: none;
}

.addButton:hover {
  background-color: rgb(226, 226, 226);
}

.error {
  border: 1px solid red;
}
